$primary-color: #13bab3;
$background-color: #ffffff;
$secondary-color: #6c757d;
$error-color: #b00020;
$font-color: #000000;
$font-secondary-color: #ffffff;
$hover-color: #f5f5f5;

$font-small-size: 16px;
$font-middle-size: 24px;
$font-large-size: 32px;
